<div class="jumbotron text-center">
  <%- include('layouts/main') %>
  <h1 class="display-4">⭐ Sindicato del Hax Comunidad ⭐</h1>
  <p class="lead">
    ¡Bienvenido a la plataforma oficial de El Sindicato!
    Aquí podras ver las estadísticas en tiempo real, los tops de los mejores
    jugadores de nuestro host y hasta los usuarios en la lista negra.
    Comparte, infórmate y sumérgete en nuestra comunidad que cada día crece mas!
    La competitividad acá es total.
  </p>
  <p>¡Explora todo sobre la silla!</p>
  <hr class="my-4" />
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Jugadores
            Registrados
          </h5>
          <h4 class="card-text"><%= registered %> jugadores</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-gamepad" aria-hidden="true"></i> Total Partidos
          </h5>
          <h4 class="card-text"><%= games %> partidos</h4>
        </div>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            Jugadores en Lista Negra
          </h5>
          <h4 class="card-text"><%= blacklisted %> usuarios</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-server" aria-hidden="true"></i>
            Jugadores Conectados
          </h5>
          <h4 class="card-text"><%= online %> jugadores</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div
    class="alert alert-primary d-flex justify-content-between align-items-center"
    role="alert"
  >
    <p class="m-0">
      Descubre nuestra Dashboard de Haxball, una aplicación web diseñada por
      <strong>17pxy</strong> y lanzada como código abierto para revolucionar los
      hosts de Haxball. Hemos creado esta plataforma con el objetivo de brindar
      a la comunidad una herramienta versátil y personalizable que va más allá
      de los límites convencionales del juego.
    </p>
    <a href="https://github.com/17pxy" class="btn btn-light" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>
</div>

<h3 class="text-center m-4"><strong>TEMPORADA 1: SINDICATO</strong></h3>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center text-black">Top Goleadores</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Usuario</th>
            <th scope="col">Partidos</th>
            <th scope="col">Goles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ziru</td>
            <td>2002</td>
            <td>1723</td>
          </tr>
          <tr>
            <td>Gonza</td>
            <td>1834</td>
            <td>1474</td>
          </tr>
          <tr>
            <td>Payo</td>
            <td>1984</td>
            <td>1233</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h1 class="text-center text-black">Top Asistidores</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Usuario</th>
            <th scope="col">Partidos</th>
            <th scope="col">Asistencias</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>tuwacha</td>
            <td>2234</td>
            <td>642</td>
          </tr>
          <tr>
            <td>Ziru</td>
            <td>2002</td>
            <td>570</td>
          </tr>
          <tr>
            <td>Mapache</td>
            <td>1654</td>
            <td>430</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h1 class="text-center text-black">Top Partidos</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Usuario</th>
            <th scope="col">Partidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aña</td>
            <td>2923</td>
          </tr>
          <tr>
            <td>Ziru</td>
            <td>2002</td>
          </tr>
          <tr>
            <td>Tuwacha</td>
            <td>2234</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h3 class="text-center m-4"><strong>¡GANADOR GOLDENWHEELCHAIR!</strong></h3>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center text-black">Golden Wheelchair Puestos:</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Usuario</th>
            <th scope="col">Partidos</th>
            <th scope="col">Goles</th>
            <th scope="col">Partidos Ganados</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GANADOR: ziru</td>
            <td>1723</td>
            <td>570</td>
            <td>832</td>
          </tr>
          <tr>
            <td>2DO PUESTO: aña</td>
            <td>1139</td>
            <td>350</td>
            <td>1380</td>
          </tr>
          <tr>
            <td>3ER PUESTO: tuwacha</td>
            <td>960</td>
            <td>642</td>
            <td>1202</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<footer class="mt-5">
  <div class="container">
    <div
      class="credit-circles d-flex justify-content-center align-items-center mb-4"
    ></div>
  </div>
</footer>
